<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>API Swagger</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700">
    <link rel="stylesheet" href="{{ asset('bundles/olladevtool/swagger-ui/swagger-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/olladevtool/style.css') }}">
    <script id="swagger-data" type="application/json">{{ swagger_data | json_encode | raw }}</script>
    <style type="text/css">
      body {
        padding: 0 !important;
        margin: 0 !important;
      }
    </style>
</head>
<body>
<div id="swagger-ui" class="api-platform"></div>
<script src="{{ asset('bundles/olladevtool/swagger-ui/swagger-ui-bundle.js') }}"></script>
<script src="{{ asset('bundles/olladevtool/swagger-ui/swagger-ui-standalone-preset.js') }}"></script>
<script src="{{ asset('bundles/olladevtool/init-swagger-ui.js') }}"></script>
</body>
</html>
